body {
  padding: 0;
  margin: 0;

  background-color: #1f2833;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2833;
}

#cv-container {
  background-color: #1f2833;
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 700px;
  height: 110vh;

  margin: 4px;
}

h1 {
  font-family: monospace;
  font-size: 40px;

  color: #66fcf1;
}

.info-container {
  background-color: #1f2833;
  width: 100%;
  height: 600px;


  border: 1px solid #0b0c10;
  border-radius: 5px;
  margin: 4px;
}

#practical-sub-edit-container {
  background-color: #1f2833;
  width: 100%;
  height: 600px;


  border-radius: 5px;
  margin: 4px;
}


.list-container {
  background-color: #45a29e;

  border-top: 1px solid #0b0c10;
  border-radius: 5px;
  margin: 5px;
}

#contact-container {
  height: 250px;

  text-align: center;
}

#contact-title {
  color: #66fcf1;
  font-size: 25px;
  margin: 5px;
}


#contact-container > button{
  background-color: #1f2833;
}

#education-container {
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin: 5px;
}

form > input {
  width: 50%;
  margin: 10px;
  background-color: #45a29e;
  border: none;
  border-radius: 5px;
  color: #0b0c10;
}

form > textarea {
  width: 50%;
  height: 50px;
  margin: 10px;
  background-color: #45a29e;
  border: none;
  border-radius: 5px;
  color: #0b0c10;
}

#education-container > h2 {
  color: #66fcf1;
  font-size: 25px;
  margin: 5px;
}

#education-container > button{
  background-color: #1f2833;
}

#education-sub-container {
  width: 98%;
  text-align: center;
}

#practical-sub-container {
  width: 98%;
  text-align: center;
}

#practical-container {
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#practical-container > h2 {
  color: #66fcf1;
  font-size: 25px;
  margin: 5px;
}

#practical-container > button{
  background-color: #1f2833;
}

h2 {
  font-family: monospace;
  font-size: 15px;
  color: #0b0c10;
}

label {
  font-family: monospace;
  font-size: 15px;
}

p {
  font-family: monospace;
}

button {
  margin: 5px;
  color: #0b0c10;
  background-color: #45a29e;
  border: none;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: monospace;
  font-size: 15px;
}
